.contacts-section{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacts-text{
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacts-text >div > h1{
    font-size: 3rem;

}

.contacts-text >div > a{
    text-decoration: none;
    font-size: 2rem;
    color: #908f97;
    font-weight: 900;
    transition: color 0.5 ease-in-out;
}

.contacts-text >div > a:hover{
    color: #3a3a3f;
}

.footer{
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: end;
    padding: 2rem;
}

.links{
    display: flex;
    gap: 2rem;
}

/* animations */
