* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f7fcf7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    #a1cca5,
    #709775,
    #415d43,
    #111d13,
    #1c1c3c,
    #3d348b,
    #7678ed
  );
  background-size: 800%;
  background-position: 0 0;
  animation: gradientAnimation 15s infinite ease-in-out;
}

.container{
  background: none;
}

.section{
  height: 100vh;
}

#root {
  background: inherit;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

