* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #f7fcf7;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 16px;
}

body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    135deg,
    #a1cca5,
    #709775,
    #415d43,
    #111d13,
    #1c1c3c,
    #3d348b,
    #7678ed
  );
  background-size: 800%;
  background-position: 0 0;
  animation: gradientAnimation 15s infinite ease-in-out;
}

.container{
  background: none;
}

.section{
  height: 100vh;
}

#root {
  background: inherit;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 50% 0;
  }
  50% {
    background-position: 90% 0;
  }
  60% {
    background-position: 60%;
  }
  75% {
    background-position: 40%;
  }
  100% {
    background-position: 0 0;
  }
}

/* home section styling */
.home-section{
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.home-section > div > div > h1{
  font-size: 2rem;
}
.home-section > div > div > h2{
  text-align: end;
  font-size: 1rem;
}

.typing-container {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  width: 0;
  animation: typing 3s steps(22) forwards, blink 0.7s infinite;
}

.text{
  font-size: 100px;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* About me section */
.about-me-section{
  display: flex;
  justify-content: space-between;
  height: inherit;
  width: 100%;
}

.about-me-animation{
  width: 50%;
  position: relative;
}
.about-me-text{
  width: 50%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  
}

.about-me-text > h1{
  font-size: 3rem;
}

.about-me-text > p{
  font-size: 1.2rem;
}

/* about me animation css */

.glow {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-animation: glow 3s linear 0s infinite alternate;
  animation: glow 3s linear 0s infinite alternate;
}

.particles {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
}

.rotate {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  -webkit-animation: rotate 20s linear 0s infinite alternate;
  animation: rotate 20s linear 0s infinite alternate;
}

.angle {
  position: absolute;
  top: 0;
  left: 0;
}

.size {
  position: absolute;
  top: 0;
  left: 0;
}

.position {
  position: absolute;
  top: 0;
  left: 0;
}

.pulse {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: pulse 1.5s linear 0s infinite alternate;
  animation: pulse 1.5s linear 0s infinite alternate;
}

.particle {
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

/* Glow Animation */
@-webkit-keyframes glow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 60px 20px #a1cca5, 25px 15px 50px 10px #fff, -5px -25px 30px 5px #fff;
  }
  100% {
    transform: rotate(5deg);
    box-shadow: 0 0 90px 20px #a1cca5, 35px 20px 40px 10px #fff, -30px -30px 40px 5px #fff;
  }
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 60px 20px #a1cca5, 25px 15px 50px 10px #fff, -5px -25px 30px 5px #fff;
  }
  100% {
    transform: rotate(5deg);
    box-shadow: 0 0 90px 20px #a1cca5, 35px 20px 40px 10px #fff, -30px -30px 40px 5px #fff;
  }
}

/* Rotate Animation */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Angle Animation */
@-webkit-keyframes angle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes angle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Size Animation */
@-webkit-keyframes size {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

@keyframes size {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
}

/* Position Animation */
@-webkit-keyframes position {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
    opacity: 0;
  }
}

@keyframes position {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate3d(100px, 100px, 0);
            transform: translate3d(100px, 100px, 0);
    opacity: 0;
  }
}

/* Pulse Animation */
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

/* Particle Animation */
@-webkit-keyframes particle {
  0% {
    box-shadow: inset 0 0 20px 20px #a1cca5, 0 0 50px 10px #709775, inset 0 0 80px 80px #415d43;
  }
  33.33% {
    box-shadow: inset 0 0 20px 20px #a1cca5, 0 0 130px 10px #709775, inset 0 0 50px 50px #415d43;
  }
  33.34% {
    box-shadow: inset 0 0 20px 20px #111d13, 0 0 50px 10px #1c1c3c, inset 0 0 80px 80px #3d348b;
  }
  66.66% {
    box-shadow: inset 0 0 20px 20px #111d13, 0 0 130px 10px #1c1c3c, inset 0 0 50px 50px #3d348b;
  }
  66.67% {
    box-shadow: inset 0 0 20px 20px #3d348b, 0 0 50px 10px #7678ed, inset 0 0 80px 80px #7678ed;
  }
  100% {
    box-shadow: inset 0 0 20px 20px #3d348b, 0 0 130px 10px #7678ed, inset 0 0 50px 50px #7678ed;
  }
}

@keyframes particle {
  0% {
    box-shadow: inset 0 0 20px 20px #a1cca5, 0 0 50px 10px #709775, inset 0 0 80px 80px #415d43;
  }
  33.33% {
    box-shadow: inset 0 0 20px 20px #a1cca5, 0 0 130px 10px #709775, inset 0 0 50px 50px #415d43;
  }
  33.34% {
    box-shadow: inset 0 0 20px 20px #111d13, 0 0 50px 10px #1c1c3c, inset 0 0 80px 80px #3d348b;
  }
  66.66% {
    box-shadow: inset 0 0 20px 20px #111d13, 0 0 130px 10px #1c1c3c, inset 0 0 50px 50px #3d348b;
  }
  66.67% {
    box-shadow: inset 0 0 20px 20px #3d348b, 0 0 50px 10px #7678ed, inset 0 0 80px 80px #7678ed;
  }
  100% {
    box-shadow: inset 0 0 20px 20px #3d348b, 0 0 130px 10px #7678ed, inset 0 0 50px 50px #7678ed;
  }
}

/* Animation settings for nested elements */
.rotate .angle:nth-child(1) {
  /* change the angle every 2 seconds */
  -webkit-animation: angle 10s steps(5) 0s infinite;
  animation: angle 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .size {
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 10s steps(5) 0s infinite;
  animation: size 10s steps(5) 0s infinite;
}
.rotate .angle:nth-child(1) .particle {
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 6s linear infinite alternate;
  animation: particle 6s linear infinite alternate;
}
.rotate .angle:nth-child(1) .position {
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2s linear 0s infinite;
  animation: position 2s linear 0s infinite;
}

.rotate .angle:nth-child(2) {
  /* change the angle every 2 seconds */
  -webkit-animation: angle 4.95s steps(3) -1.65s infinite;
  animation: angle 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(2) .size {
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 4.95s steps(3) -1.65s infinite;
  animation: size 4.95s steps(3) -1.65s infinite;
}
.rotate .angle:nth-child(2) .particle {
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 4.95s linear -3.3s infinite alternate;
  animation: particle 4.95s linear -3.3s infinite alternate;
}
.rotate .angle:nth-child(2) .position {
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.65s linear 0s infinite;
  animation: position 1.65s linear 0s infinite;
}

.rotate .angle:nth-child(3) {
  /* change the angle every 2 seconds */
  -webkit-animation: angle 13.76s steps(8) -6.88s infinite;
  animation: angle 13.76s steps(8) -6.88s infinite;
}
.rotate .angle:nth-child(3) .size {
  /* change the size of the particle every 2 seconds */
  -webkit-animation: size 6.88s steps(4) -5.16s infinite;
  animation: size 6.88s steps(4) -5.16s infinite;
}
.rotate .angle:nth-child(3) .particle {
  /* animate the glow and change the color every 2 seconds */
  -webkit-animation: particle 5.16s linear -1.72 infinite alternate;
  animation: particle 5.16s linear -1.72 infinite alternate;
}
.rotate .angle:nth-child(3) .position {
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 1.72s linear 0s infinite;
  animation: position 1.72s linear 0s infinite;
}

.rotate .angle:nth-child(5) .position {
  /* animate the fly out of the particle and its fade out at the end */
  -webkit-animation: position 2.45s linear 0s infinite;
  animation: position 2.45s linear 0s infinite;
}



